
.container {
    text-align: center;
    margin-top: 680px; 
}

.flip-container {
    perspective: 1000px;
    display: inline-block;
    margin: 0 auto;
}

.flip-container img {
    width: 130px;
    height: 130px;
    transition: transform 0.6s;
    cursor: pointer;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s;
}

