
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 17px;
    z-index: 1000;
    font-family: 'header font', sans-serif;
}

footer p {
    margin: 60;
    text-align: center; 
}

